main {
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h2 {
  text-align: center;
}

button {
  background-color: #444;
  border: none;
  padding: 10px 20px;
  color: white;
  width: 100%;
}

.login {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.login form {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  align-items: stretch;
}

.login form > * {
  margin-top: 10px;
}

.login input {
  height: 25px;
  padding: 10px;
  font-size: 20px;
}

.login label {
  text-align: center;
}

.chat-screen {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 80vw;
  overflow: hidden;
}

.messages {
  overflow: auto;
  height: 90%;
}

.message-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 18px;
  align-items: stretch;
}

.message-input input {
  flex: 6;
  font-size: 20px;
  padding: 10px;
}

.message-input button {
  flex: 1;
}

.message {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
}

.message > .text {
  font-size: 25px;
}

.message > .author {
  font-size: 15px;
  font-style: italic;
}

.message.my {
  text-align: right;
}
