<main>
  <h2>CHAT</h2>
  <div *ngIf="author !== ''" class="chat-screen">
    <div class="messages">
      <div class="message" *ngFor="let message of messageService.messages" [class.my]="message.author === author">
        <span class="text">{{message.message}}</span>
        <span class="author" >{{message.author}}</span>
      </div>
    </div>
    <form class="message-input">
      <input [(ngModel)]="message" type="text" name="message"/>
      <button type="submit" (click)="send()">SEND</button>
    </form>
  </div>
  <div *ngIf="author === ''" class="login">
    <form>
      <label for="username">Username</label>
      <input id="username" [(ngModel)]="username" type="text" name="username"/>
      <button type="submit" (click)="setUsername()">GO!</button>
    </form>
  </div>
</main>
