/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

.messages::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.messages::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.messages::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
